
<!-- Footer Links -->
<div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Dropbox</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a class="dark-grey-text" href="#!">Desktop Apps</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Mobile Apps</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Plans</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Security</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Features</a>
            </p>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Company</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a class="dark-grey-text" href="#!">About us</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Jobs</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Press</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Investors relations</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Blog</a>
            </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Support</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a class="dark-grey-text" href="#!">Help Center</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Contact Us</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Cookies</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Privacy & terms</a>
            </p>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Community</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a class="dark-grey-text" href="#!">Developer</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Referrals</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Forum</a>
            </p>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Connect</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a class="dark-grey-text" href="#!">Twitter</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Facebook</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Google+</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">YouTube</a>
            </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Products</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a class="dark-grey-text" href="#!">Plus</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Professional</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Business</a>
            </p>
            <p>
                <a class="dark-grey-text" href="#!">Enterprise</a>
            </p>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
    <a class="dark-grey-text" href="https://github.com/whizkevina"> Aina Oluwatimilehin (Whizkevina)</a>
    <p>For TechSavvy NG</p>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->
<!--//Bootstrap CDN and jQuery -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>