<!--//Navigation Bar with Header start -->
<div class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="600">
    <!--<div class="container">-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<div class="navbar-nav">-->
        <a class="navbar-brand" href="#"><img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/glyph_m1.svg" width="34" height="31">Dropbox <span style="color: #0062ff; font-family:fantasy" ;>Business</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fa"></i>
                        Pricing
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa">
                            <span class="badge"></span>
                        </i>
                        Features
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa">
                            <span class="badge"></span>
                        </i>
                        Compare Plans
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa">
                            <span class="badge badge-primary"></span>
                        </i>
                        Learn more
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Security</a>
                        <a class="dropdown-item" href="#">Customers</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Application Integeration</a>
                        <a class="dropdown-item" href="#">Solution</a>
                        <a class="dropdown-item" href="#">Events & Webinars</a>
                        <a class="dropdown-item" href="#">FAQs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa">
                            <span class="badge badge-primary"></span>
                        </i>
                        Contact Sales
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fa fa-chat"><span class="badge badge-success"></span></i>Chat Sale</a>
                        <a class="dropdown-item" href="#">Email</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">+ 44 203 684 980</a>
                    </div>
                </li>
            </ul>
            <button class="nav-right btn btn-outline-primary my-2 my-sm-0" type="button">Try free for 30days</button>
    </nav>
</div>
</div><!-- /.navbar -->

<!--//Navigation Bar with Header end -->
