<!--//Plan Listing table -->
<div class="columns">
    <ul class="price">
        <li class="header">Standard</li>
        <li class="grey">$15</li>
        <p style="text-align: center;">/ user / month, starting at 3 users</p>
        <li>3 TB of space for secure storage</li>
        <li>Easy-to-use sharing and collaboration tools</li>
        <button type="button" class="btn btn-outline-primary">Try free for 30 days</button>
        <p></p>
        <span class="purchase_now">or</span> <a class="purchase_now" href="#">purchase now</a></li>
    </ul>
</div>

<div class="columns">
    <ul class="price">
        <li class="head_hero" style="background-color: #b3ffff;">Best Value</li>
        <li class="header" style="background-color:blue">Advanced</li>
        <li class="grey">$ 24.99</li>
        <p style="text-align: center;">/ user / month, starting at 3 users</p>
        <li>As much space as your team needs</li>
        <li>Sophisticated control and security features</li>
        <button type="button" class="btn btn-primary">Try free for 30 days</button>
        <p></p>
        <span class="purchase_now">or</span> <a class="purchase_now" href="#">purchase now</a></li>
    </ul>
</div>

<div class="columns">
    <ul class="price">
        <li class="header">Enterprise</li>
        <li class="grey">Contact Us</li>
        <li>Customizable solutions</li>
        <li>Individualized support to help admins manage at scale</li>
        <button type="button" class="btn btn-outline-primary">Contact US</button>
    </ul>
    <p></p>
    <br/>


    <br/>
    <p></p>

    <br/>


    <br/>

    <br/>

    <p></p>
    <br/>
</div>


<!--//Second Column -->
<p>

<div class="columns-1">
    <ul class="price-1">
        <li>3 TB (3,072 GB) of space</li>
        <li>120 days of file recovery</li>
        <li>256-bit AES and SSL/TLS encryption</li>
        <li>Smart Sync</li>
        <li>Dropbox Paper admin tools</li>
        <li>Office 365 integration</li>
        <li>Admin console and audit log</li>
        <li>Granular sharing permissions</li>
        <li>User and company-managed groups</li>
        <li>Remote device wipe</li>
        <li>Enable two-factor authentication (2FA)</li>
        <li>Unlimited API access to security and productivity platform partners</li>
        <li>25,000 API calls/month for data transport partners
            Live chat support</li>
    </ul>
</div>

<div class="columns-1">
    <ul class="price-1">
        <li>Everything in Standard</li>
        <li>As much space as needed</li>
        <li>Advanced admin controls</li>
        <li>Dropbox Showcase</li>
        <li>Tiered admin roles</li>
        <li>File event tracking</li>
        <li>Advanced user management tools</li>
        <li>Invite enforcement</li>
        <li>Domain verification</li>
        <li>Single sign on (SSO) integration</li>
        <li>Device approvals</li>
        <li>Business hours phone support</li>
    </ul>
</div>

<div class="columns-1">
    <ul class="price-1">
        <li>Everything in Advanced</li>
        <li>Account Capture</li>
        <li>Network control</li>
        <li>Enterprise mobility management (EMM) support</li>
        <li>Domain Insights</li>
        <li>Advanced training for end users and admins</li>
        <li>24/7 phone support</li>
    </ul>
    <p></p>
    <br/>


    <br/>
    <p></p>

    <br/>


    <br/>

    <br/>

    <p></p>
    <br/>
    <p></p>
    <br/>


    <br/>
    <p></p>

    <br/>


    <br/>

    <br/>

    <p></p>
    <br/>
</div>


</p>

<div class="wrapper-hero">

    <header class="header-hero">
        <h1>Design to take teamwork to the next Level</h1>
    </header>

    <section class="columns-hero">

        <div class="column">
            <img class="service_img" src="https://cfl.dropboxstatic.com/static/images/business/homepage/icons/unlimited-space-vflcjT5Sx.svg" width="57px" height="68.3px">
            <p style="padding:20px;">Space for sharing and collaboration</p>
        </div>

        <div class="column">
            <img class="service_img" src="https://cfl.dropboxstatic.com/static/images/business/homepage/icons/security-vflrEpHRV.svg" width="57px" height="68.3px">
            <p style="padding:20px;">Advanced security features</p>
        </div>

        <div class="column">
            <img class="service_img" src="https://cfl.dropboxstatic.com/static/images/business/homepage/icons/support-vfl2-scN9.svg" width="57px" height="68.3px">
            <p style="padding:20px;">Dedicated live support</p>
        </div>
    </section>

    <!--//Plan listing table end -->

</div>
</div>
