<!DOCTYPE html>
<html>
<head>
    <title>Dropbox Business</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>DropBox Business</h1>
<p>Welcome to dropbox Business clone page</p>
</body>
</html>
