<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Dropbox Business Techsavvyng</title>
</head>

<body>
<link href="/stylesheets/style.css" rel="stylesheet" id="main-css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-light">
  <div class="navbar navbar-nav branding-top">
  <a class="navbar-brand" href="#"><img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/glyph_m1.svg" width="34" height="31">Dropbox <span style="color: blue; font-family: fantasy";>Business</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa"></i>
          Pricing
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa">
            <span class="badge"></span>
          </i>
          Features
        </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa">
          <span class="badge"></span>
        </i>
        Compare Plans
      </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa">
            <span class="badge badge-primary"></span>
          </i>
          Learn more
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Security</a>
          <a class="dropdown-item" href="#">Customers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Application Integeration</a>
          <a class="dropdown-item" href="#">Solution</a>
          <a class="dropdown-item" href="#">Events & Webinars</a>
          <a class="dropdown-item" href="#">FAQs</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa">
            <span class="badge badge-primary"></span>
          </i>
          Contact Sales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fa fa-chat"><span class="badge badge-success"></span></i>Chat Sale</a>
          <a class="dropdown-item" href="#">Email</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">+ 44 203 684 980</a>
        </div>
      </li>
    </ul>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Try free for 30days</button>

  </div>
    <section class="workb">
      <p class="workb-2" style="font-size: 4vmax; font-family:fantasy ; color: #0f6674;">Work better, safer,</p>
      <p class="workb-2" style="font-size: 4vmax; font-family:fantasy ; color: #0f6674;">together</p>
      <p class="workb-2" style="color: #0f6674; font-family:FontAwesome,fantasy;">Dropbox Business simplifies your work, with</p>
        <p class="workb-2" style="color: #0f6674;">a central place to access and share files</p>

      <button type="button" class="btn btn-primary btn-lg">Try free for 30days</button> or <a href="#">Purchase now</a>
      <p style="font-size: 70%; color: #5a6268; float: inherit;">No Credit Card needed</p>
    </section>
  </div>
</nav>

<section class="report">
  <p>Gartner names Dropbox as a Leader in the July 2018 Magic Quadrant for Content Collaboration Platforms. <a style="font-family: cursive;" href="#"> Get the report</a></p>
</section>

<section>
<div class="dropbox-business">
    <p style="font-family: Palatino Linotype, Book Antiqua, Palatino, serif; font-size: 3vmax;">Do more with Dropbox Business</p>
  <div>
    <input type="radio" id="billed-monthly" name="plan">
    <label for="billed-monthly">Billed Monthly</label>

    <input type="radio" id="billed-yearly" name="plan">
    <label for="billed-monthly">Billed Yearly</label>
  </div>

  <!--//Plan Listing table -->
  <div class="columns">
    <ul class="price">
      <li class="header">Standard</li>
      <li class="grey">$ 12.99</li>
      <li> /user /month, starting at 3 users</li>
      <li><i class="far fa-address-card"> 3 TB of space for secure storage </i></li>
      <li><i class="fas fa-cog"> Easy-to-use sharing and collaboration tools </i></li>
      <li><button type="button" class="btn btn-outline-primary"> Try free for 30days </button></li>
      <li>or <a href="#"> Purchase now </a></li>
      <!--<li class="grey"><a href="#" class="button btn-primary">Sign Up</a></li> -->
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <li class="header" style="background-color:mediumblue">Advanced</li>
      <li class="grey">$ 20.99</li>
      <li> /user /month, starting at 3 users</li>
      <li><i class="fas fa-users-cog"> As much space as your team needs </i></li>
      <li><i class="fas fa-lock"> Sophisticated control and security features </i></li>
      <li><button type="button" class="btn btn-primary">Try free for 30days</button></li>
      <li>or <a href="#"> Purchase now </a></li>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <li class="header">Enterprise</li>
      <li class="grey">Contact Us</li>
      <li><i class="far fa-star"> Customizable solutions</i></li>
      <li> <i class="far fa-list-alt"> Individualized support to help admins manage at scale </i></li>
      <li><button type="button" class="btn btn-outline-primary">Contact US</button></li>
    </ul>
  </div>
</div>
</section>

<div class="feature-list">
  <div class="columns">
    <ul class="price_2">
      <li class="header">Standard</li>
      <li class="grey">$ 12.99</li>
      <li> /user /month, starting at 3 users</li>
      <li><i class="far fa-address-card"> 3 TB of space for secure storage </i></li>
      <li><i class="fas fa-cog"> Easy-to-use sharing and collaboration tools </i></li>
      <li><button type="button" class="btn btn-outline-primary"> Try free for 30days </button></li>
      <li>or <a href="#"> Purchase now </a></li>
      <!--<li class="grey"><a href="#" class="button btn-primary">Sign Up</a></li> -->
    </ul>
  </div>

  <div class="columns">
    <ul class="price_2">
      <li class="header" style="background-color:mediumblue">Advanced</li>
      <li class="grey">$ 20.99</li>
      <li> /user /month, starting at 3 users</li>
      <li><i class="fas fa-users-cog"> As much space as your team needs </i></li>
      <li><i class="fas fa-lock"> Sophisticated control and security features </i></li>
      <li><button type="button" class="btn btn-primary">Try free for 30days</button></li>
      <li>or <a href="#"> Purchase now </a></li>
    </ul>
  </div>

  <div class="columns">
    <ul class="price_2">
      <li class="header">Enterprise</li>
      <li class="grey">Contact Us</li>
      <li><i class="far fa-star"> Customizable solutions</i></li>
      <li> <i class="far fa-list-alt"> Individualized support to help admins manage at scale </i></li>
      <li><button type="button" class="btn btn-outline-primary">Contact US</button></li>
    </ul>
  </div>
</div>


<div class="footer">
<footer>
    <p>© Dropbox Business 2019</p>
  </footer>
</div>
<!--//Bootstrap CDN and jQuery -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  </body>
</html>