<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Dropbox Business Techsavvyng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" id="main-css">
    <link href="/public/stylesheets/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->
<!--//Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="../images/site.webmanifest">
</head>

<body>

<!--//Navigation Bar with Header start -->
<div class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="600">
    <!--<div class="container">-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--<div class="navbar-nav">-->
                <a class="navbar-brand" href="#"><img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/glyph_m1.svg" width="34" height="31">Dropbox <span style="color: blue; font-family:fantasy" ;>Business</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <i class="fa"></i>
                                Pricing
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa">
                                    <span class="badge"></span>
                                </i>
                                Features
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa">
                                    <span class="badge"></span>
                                </i>
                                Compare Plans
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa">
                                    <span class="badge badge-primary"></span>
                                </i>
                                Learn more
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Security</a>
                                <a class="dropdown-item" href="#">Customers</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Application Integeration</a>
                                <a class="dropdown-item" href="#">Solution</a>
                                <a class="dropdown-item" href="#">Events & Webinars</a>
                                <a class="dropdown-item" href="#">FAQs</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa">
                                    <span class="badge badge-primary"></span>
                                </i>
                                Contact Sales
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><i class="fa fa-chat"><span class="badge badge-success"></span></i>Chat Sale</a>
                                <a class="dropdown-item" href="#">Email</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">+ 44 203 684 980</a>
                            </div>
                        </li>
                    </ul>
                    <button class="nav-right btn btn-outline-primary my-2 my-sm-0" type="button">Try free for 30days</button>
        </nav>
    </div>
</div><!-- /.navbar -->

<!--//Navigation Bar with Header end -->

    <div class="workb-backdrop">
        <div class="workb">
      <p class="workb-2" style="font-size: 4vmax; font-family:fantasy ; color: #0f6674;">Work better, safer,</p>
      <p class="workb-2" style="font-size: 4vmax; font-family:fantasy ; color: #0f6674;">together</p>
      <p class="workb-2" style="color: #0f6674; font-family:FontAwesome,fantasy;">Dropbox Business simplifies your work, with</p>
        <p class="workb-2" style="color: #0f6674;">a central place to access and share files</p>

      <button type="button" class="btn btn-primary btn-lg">Try free for 30days</button> or <a href="#">Purchase now</a>
      <p style="font-size: 70%; color: #5a6268; float: inherit;">No Credit Card needed</p>
    </div>
  </div>


<section class="report">
  <p>Gartner names Dropbox as a Leader in the July 2018 Magic Quadrant for Content Collaboration Platforms. <a style="font-family: cursive;" href="#"> Get the report</a></p>
</section>

<div>
<div class="dropbox-business">
    <p style="font-family: Palatino Linotype, Book Antiqua, Palatino, serif; font-size: 3vmax;">Do more with Dropbox Business</p>
  <div>
    <input type="radio" id="billed-monthly" name="plan">
    <label for="billed-monthly">Billed Monthly</label>

    <input type="radio" id="billed-yearly" name="plan">
    <label for="billed-monthly">Billed Yearly</label>
  </div>

  <!--//Plan Listing table -->
    <div class="columns">
        <ul class="price">
            <li class="header">Standard</li>
            <li class="grey">$15</li>
            <p style="text-align: center;">/ user / month, starting at 3 users</p>
            <li>3 TB of space for secure storage</li>
            <li>Easy-to-use sharing and collaboration tools</li>
            <button type="button" class="btn btn-outline-primary">Try free for 30 days</button>
                <p></p>
                <span class="purchase_now">or</span> <a class="purchase_now" href="#">purchase now</a></li>
        </ul>
    </div>

    <div class="columns">
        <ul class="price">
            <li class="head_hero" style="background-color: #b3ffff;">Best Value</li>
            <li class="header" style="background-color:blue">Advanced</li>
            <li class="grey">$ 24.99</li>
            <p style="text-align: center;">/ user / month, starting at 3 users</p>
            <li>As much space as your team needs</li>
            <li>Sophisticated control and security features</li>
            <button type="button" class="btn btn-primary">Try free for 30 days</button>
                <p></p>
                <span class="purchase_now">or</span> <a class="purchase_now" href="#">purchase now</a></li>
        </ul>
    </div>

    <div class="columns">
        <ul class="price">
            <li class="header">Enterprise</li>
            <li class="grey">Contact Us</li>
            <li>Customizable solutions</li>
            <li>Individualized support to help admins manage at scale</li>
            <button type="button" class="btn btn-outline-primary">Contact US</button>
        </ul>
        <p></p>
        <br/>


        <br/>
        <p></p>

        <br/>


        <br/>

        <br/>

        <p></p>
        <br/>
    </div>


    <!--//Second Column -->
    <p>

    <div class="columns-1">
        <ul class="price-1">
            <li>3 TB (3,072 GB) of space</li>
            <li>120 days of file recovery</li>
            <li>256-bit AES and SSL/TLS encryption</li>
            <li>Smart Sync</li>
            <li>Dropbox Paper admin tools</li>
            <li>Office 365 integration</li>
            <li>Admin console and audit log</li>
            <li>Granular sharing permissions</li>
            <li>User and company-managed groups</li>
            <li>Remote device wipe</li>
            <li>Enable two-factor authentication (2FA)</li>
            <li>Unlimited API access to security and productivity platform partners</li>
            <li>25,000 API calls/month for data transport partners
                Live chat support</li>
        </ul>
    </div>

    <div class="columns-1">
        <ul class="price-1">
            <li>Everything in Standard</li>
            <li>As much space as needed</li>
            <li>Advanced admin controls</li>
            <li>Dropbox Showcase</li>
            <li>Tiered admin roles</li>
            <li>File event tracking</li>
            <li>Advanced user management tools</li>
            <li>Invite enforcement</li>
            <li>Domain verification</li>
            <li>Single sign on (SSO) integration</li>
            <li>Device approvals</li>
            <li>Business hours phone support</li>
        </ul>
    </div>

    <div class="columns-1">
        <ul class="price-1">
            <li>Everything in Advanced</li>
            <li>Account Capture</li>
            <li>Network control</li>
            <li>Enterprise mobility management (EMM) support</li>
            <li>Domain Insights</li>
            <li>Advanced training for end users and admins</li>
            <li>24/7 phone support</li>
        </ul>
        <p></p>
        <br/>


        <br/>
        <p></p>

        <br/>


        <br/>

        <br/>

        <p></p>
        <br/>
        <p></p>
        <br/>


        <br/>
        <p></p>

        <br/>


        <br/>

        <br/>

        <p></p>
        <br/>
    </div>


    </p>

    <div class="wrapper-hero">

        <header class="header-hero">
            <h1>Design to take teamwork to the next Level</h1>
        </header>

        <section class="columns-hero">

            <div class="column">
                <img class="service_img" src="https://cfl.dropboxstatic.com/static/images/business/homepage/icons/unlimited-space-vflcjT5Sx.svg" width="57px" height="68.3px">
                <p style="padding:20px;">Space for sharing and collaboration</p>
            </div>

            <div class="column">
                <img class="service_img" src="https://cfl.dropboxstatic.com/static/images/business/homepage/icons/security-vflrEpHRV.svg" width="57px" height="68.3px">
                <p style="padding:20px;">Advanced security features</p>
            </div>

            <div class="column">
                <img class="service_img" src="https://cfl.dropboxstatic.com/static/images/business/homepage/icons/support-vfl2-scN9.svg" width="57px" height="68.3px">
                <p style="padding:20px;">Dedicated live support</p>
            </div>
        </section>

        <!--//Plan listing table end -->

</div>
</div>

    <div class="activity_div">
        <p>Dropbox Business helps your company grow without limits, while </p>
        <p>you maintain complete control over important company </p>
        <p>information and user activity.</p>
    </div>

    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
            <li data-target="#carousel-example-2" data-slide-to="3"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="/images/carousel-1.png"
                         alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></a></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/carousel-2.png"
                         alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/carousel-3.png"
                         alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/carousel-4.png"
                         alt="Fourth slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

    <div style="text-align: center; margin: 0px; padding: 0px; font-size: 30px; font-family: 'Open Sans', sans-serif;">
        <p>More than 30,000 teams use Dropbox Business</p>
        <p style="font-size: 15px; "><a href="#">Learn more about our customers</a></p>
        <img class="box-business" src="/images/company-use-dropbox.png">
    </div>

    <div class="container-fluid bg-gray" id="accordion-style-1">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-black-50 mb-4 text-center">Frequently Asked Questions</h1>
                    </div>
                    <div class="col-10 mx-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What is the difference between Dropbox Business Standard and Dropbox Business Advanced?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Standard provides teams with 3 TB of storage and simple sharing and collaboration tools. For teams needing more storage and security, Advanced provides as much space as your team needs in addition to sophisticated admin, audit, integration, and security features. Learn more about our plans<a href="#"><strong> here </strong></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            How much space does my team get?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Dropbox Business provides three plans to fit your team’s needs. The Standard plan gives your team 3 TB of shared storage. For teams needing more space, the Advanced and Enterprise plans provide as much space as you need.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Can I upgrade my existing Dropbox Basic or Dropbox Plus account? How does migration work?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        If you already use Dropbox, moving to a Dropbox Business account is easy! All your content will stay the same — your files will stay where they are, and all your settings (like shared folder relationships and linked devices) will remain the same. For admins, all your team members who already use Dropbox will have that same experience, and anyone without an existing Dropbox account will be prompted to sign up when you send them an invite. For Dropbox Plus users who switch to Dropbox Business, any remaining credits will be returned as a pro-rated refund to the original payment method.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Do you have any discounts for Dropbox Business and Dropbox Enterprise?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Yes! We have volume discounts as well as discounts for nonprofits and educational institutions. Please <a href="">contact our sales team</a> for more information.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- .// Accordion -->

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>The best sharing and storage solution for your business</p>
        <button type="button" class="btn btn-primary">Try free for 30 days</button>
        <br>
        <p>
        or <a href="#">purchase now</a>
        </p>
    </div>


    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Dropbox</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Desktop Apps</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Mobile Apps</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Plans</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Security</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Features</a>
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Company</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">About us</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Jobs</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Press</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Investors relations</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Blog</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Support</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Help Center</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Contact Us</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Cookies</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Privacy & terms</a>
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Community</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Developer</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Referrals</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Forum</a>
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Connect</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Twitter</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Facebook</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Google+</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">YouTube</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Plus</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Professional</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Business</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Enterprise</a>
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
        <a class="dark-grey-text" href="https://github.com/whizkevina"> Aina Oluwatimilehin (Whizkevina)</a>
        <p>For TechSavvy NG</p>
    </div>
    <!-- Copyright -->

    </footer>
    <!-- Footer -->
<!--//Bootstrap CDN and jQuery -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  </body>
</html>