<!DOCTYPE html>
<html lang="en-US">

<!--//EJS partials for Head-->
<% include  ./partials/head %>

<body>

<!--//EJS Patials for Navigation Bar-->
<% include ./partials/nav %>

<!--//The workb-backdrop -->
    <div class="workb-backdrop">
        <div class="workb">
      <p class="workb-2" style="font-size: 4vmax; font-family:fantasy ; color: #0f6674;">Work better, safer,</p>
      <p class="workb-2" style="font-size: 4vmax; font-family:fantasy ; color: #0f6674;">together</p>
      <p class="workb-2" style="color: #0f6674; font-family:FontAwesome,fantasy;">Dropbox Business simplifies your work, with</p>
        <p class="workb-2" style="color: #0f6674;">a central place to access and share files</p>

      <button type="button" class="btn btn-primary btn-lg">Try free for 30days</button> or <a href="#">Purchase now</a>
      <p style="font-size: 70%; color: #5a6268; float: inherit;">No Credit Card needed</p>
    </div>
  </div>

<!--//Section for Report Announcement-->
<section class="report">
  <p>Gartner names Dropbox as a Leader in the July 2018 Magic Quadrant for Content Collaboration Platforms. <a style="font-family:"sans-serif"; href="#"> Get the report</a></p>
</section>

<!--//Price Category for choosing plan-->
<div>
<div class="dropbox-business">
    <p style="font-family: Palatino Linotype, Book Antiqua, Palatino, serif; font-size: 3vmax;">Do more with Dropbox Business</p>
  <div>
    <input type="radio" id="billed-monthly" name="plan">
    <label for="billed-monthly">Billed Monthly</label>

    <input type="radio" id="billed-yearly" name="plan">
    <label for="billed-yearly">Billed Yearly</label>
  </div>

    <!--// EJS Partials for Pricing table-->
  <% include ./partials/price-table %>

    <!--//Activity Div-->
    <div class="activity_div">
        <p>Dropbox Business helps your company grow without limits, while </p>
        <p>you maintain complete control over important company </p>
        <p>information and user activity.</p>
    </div>

    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
            <li data-target="#carousel-example-2" data-slide-to="3"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="/images/carousel-1.png"
                         alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></a></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/carousel-2.png"
                         alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/carousel-3.png"
                         alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/carousel-4.png"
                         alt="Fourth slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

    <div style="text-align: center; margin: 0px; padding: 0px; font-size: 30px; font-family: 'Open Sans', sans-serif;">
        <p>More than 30,000 teams use Dropbox Business</p>
        <p style="font-size: 15px; "><a href="#">Learn more about our customers</a></p>
        <img class="box-business" src="/images/company-use-dropbox.png">
    </div>

    <div class="container-fluid bg-gray" id="accordion-style-1">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-black-50 mb-4 text-center">Frequently Asked Questions</h1>
                    </div>
                    <div class="col-10 mx-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What is the difference between Dropbox Business Standard and Dropbox Business Advanced?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Standard provides teams with 3 TB of storage and simple sharing and collaboration tools. For teams needing more storage and security, Advanced provides as much space as your team needs in addition to sophisticated admin, audit, integration, and security features. Learn more about our plans<a href="#"><strong> here </strong></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            How much space does my team get?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Dropbox Business provides three plans to fit your team’s needs. The Standard plan gives your team 3 TB of shared storage. For teams needing more space, the Advanced and Enterprise plans provide as much space as you need.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Can I upgrade my existing Dropbox Basic or Dropbox Plus account? How does migration work?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        If you already use Dropbox, moving to a Dropbox Business account is easy! All your content will stay the same — your files will stay where they are, and all your settings (like shared folder relationships and linked devices) will remain the same. For admins, all your team members who already use Dropbox will have that same experience, and anyone without an existing Dropbox account will be prompted to sign up when you send them an invite. For Dropbox Plus users who switch to Dropbox Business, any remaining credits will be returned as a pro-rated refund to the original payment method.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Do you have any discounts for Dropbox Business and Dropbox Enterprise?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Yes! We have volume discounts as well as discounts for nonprofits and educational institutions. Please <a href="">contact our sales team</a> for more information.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- .// Accordion -->

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>The best sharing and storage solution for your business</p>
        <button type="button" class="btn btn-primary">Try free for 30 days</button>
        <br>
        <p>
        or <a href="#">purchase now</a>
        </p>
    </div>

<% include ./partials/footer%>
  </body>
</html>